<div class="author-card" itemscope itemtype="http://schema.org/Person">

  <div class="author-card__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author-card__body">

    <h3 class="author-card__name">{{ author.name }}</h3>

    {% if author.pronouns %}
      <p class="author-card__pronouns">{{ author.pronouns }}</p>
    {% endif %}

    {% if author.education %}
    <ul class="author-card__education">
      {% for degree in author.education %}
        <li>{{ degree }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <ul class="author-card__links">
      {% if author.location %}
        <li><i class="fa-solid fa-location-dot"></i> {{ author.location }}</li>
      {% endif %}
      {% if author.employer %}
        <li><i class="fas fa-building-columns"></i> {{ author.employer }}</li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-envelope"></i> Email</a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="ai ai-google-scholar"></i> Scholar</a></li>
      {% endif %}
      {% if author.orcid %}
        <li><a href="{{ author.orcid }}"><i class="ai ai-orcid"></i> ORCID</a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-github"></i> GitHub</a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
      {% endif %}
    </ul>

  </div>
</div>
