<article class="tweet">
  <div class="tweet-header">
    <img class="tweet-avatar" src="{{ include.post.avatar }}" alt="{{ include.post.name }}">
    <div class="tweet-author">
      <span class="tweet-name">{{ include.post.name }}</span>
      <span class="tweet-handle">@{{ include.post.author }}</span>
    </div>
    <span class="tweet-date">{{ include.post.date | date: "%b %d, %Y" }}</span>
  </div>
  
<div class="tweet-content" style="background: yellow;">
  {{ include.post.content | escape }}
</div>

  
  {% if include.post.image %}
  <div class="tweet-media">
    <img src="{{ include.post.image }}" alt="Post image">
  </div>
  {% endif %}
</article>
